repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check src tests --fix
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: ty check src tests
        language: system
        pass_filenames: false
