defaults:
  - base
  - data: afhq
  - task: superresolution
  - model: warm_start_fm_no_attention
  - model_type: generative
  - _self_

# Eval is very slow because of the FID computation, so we do it less often
output:
  eval_freq: 100000
  plot_freq: 100000

model:
  warm_start_model:
    _target_: cdnp.util.instantiate.load_model_from_path
    path: ${paths.weights}/afhq_sr_cnp
    freeze: true
    device: ${runtime.device}
  generative_model:
    backbone:
      in_channels: 12 # noised RGB image + low-res RGB input + CNP mean + CNP stddev
      out_channels: 3 # RGB image
      use_warmth_embedding: true

data:
  trainloader:
    batch_size: 4
  testloader:
    batch_size: 8
  preprocess_fn:
    scale_factor: 8

execution:
  accumulate_steps: 128 # 512 effective batch size
