defaults:
  - base
  - data: celeba
  - task: inpaint
  - model: cnp
  - model/backbone: small
  - model_type: deterministic
  - _self_

model:
  backbone:
    out_channels: 6 # RGB image * (mean + stddev)
  min_std: 0.01 # Minimum std to stabilise
  
data:
  in_channels: 4 # masked RGB input + mask
  preprocess_fn:
    min_frac: 0.03
    max_frac: 0.1