defaults:
  - base
  - data: cifar10
  - task: inpaint
  - model: flow_matching
  - model_type: generative
  - _self_

model:
  backbone:
    in_channels: 7 # noised RGB image + masked RGB input + mask + CNP mean + CNP stddev
    out_channels: 3 # RGB image

data:
  trainloader:
    batch_size: 128
  preprocess_fn:
    min_frac: 0.0
    max_frac: 1.0