defaults:
  - base
  - data: cifar10
  - task: inpaint
  - model: warm_start_fm
  - _self_

execution:
  train_steps: 3000000
  gradient_clip_norm: 3.0
  accumulate_steps: 4 # Effective batch size = 512, matching the repo
  ema_rate: 0.999

output:
  metrics:
    - _target_: cdnp.evaluate.LossMetric
    - _target_: cdnp.evaluate.FIDMetric
      num_samples: 1000
      means: ${data.dataset.norm_means}
      stds: ${data.dataset.norm_stds}
      device: ${runtime.device}
      nfe: 50
    - _target_: cdnp.evaluate.FIDMetric
      num_samples: 1000
      means: ${data.dataset.norm_means}
      stds: ${data.dataset.norm_stds}
      device: ${runtime.device}
      nfe: 10
    - _target_: cdnp.evaluate.FIDMetric
      num_samples: 1000
      means: ${data.dataset.norm_means}
      stds: ${data.dataset.norm_stds}
      device: ${runtime.device}
      nfe: 5

#model:
  #warm_start_model:
  #  _target_: cdnp.util.instantiate.load_model_from_path
  #  path: ${paths.weights}/cifar10_cnp
  #  freeze: true
  #  device: ${runtime.device}
model:
  warm_start_model:
    _target_: cdnp.util.instantiate.load_model_from_path
    path: ${paths.weights}/cifar10_cnp
    freeze: false
    #freeze: true
    device: ${runtime.device}
  #warm_start_model:
  #  _target_: cdnp.model.cnp.CNP
  #  min_std: 0.01
  #  backbone:
  #    _target_: diffusers.UNet2DModel
  #    sample_size:
  #      - ${data.height}
  #      - ${data.width}
  #    in_channels: 4
  #    layers_per_block: 2
  #    resnet_time_scale_shift: "scale_shift"
  #    block_out_channels: [64, 128, 256]
  #    down_block_types:
  #      - DownBlock2D
  #      - AttnDownBlock2D
  #      - AttnDownBlock2D
  #    up_block_types:
  #      - AttnUpBlock2D
  #      - AttnUpBlock2D
  #      - UpBlock2D
  #    out_channels: 6 # Predicted RGB mean + predicted RGB stddev
  #  device: ${runtime.device}
  generative_model:
    backbone:
      in_channels: 13 # noised RGB image + masked RGB input + mask + CNP mean + CNP stddev
      out_channels: 3 # RGB image
      use_warmth_embedding: true

  min_warmth: 0.0
  max_warmth: 1.0


optimizer:
  lr: 1e-4
  betas: [0.9, 0.95]

data:
  trainloader:
    batch_size: 128
  preprocess_fn:
    min_frac: 0.1
    max_frac: 0.1