defaults:
  - base
  - data: cifar10
  - task: inpaint
  - model: cnp
  - model/backbone: small
  - model_type: deterministic
  - _self_

data:
  in_channels: 4 # masked RGB input + mask
  preprocess_fn:
    min_frac: 0.05
    max_frac: 0.2

model:
  backbone:
    out_channels: 6 # Predicted RGB mean + predicted RGB stddev
  min_std: 0.01 # Minimum stddev to stabilise
  device: ${runtime.device}