defaults:
  - base
  - data: cifar10
  - task: colourisation
  - model: cnp
  - model/backbone: small
  - model_type: deterministic
  - _self_

data:
  in_channels: 1 # Grayscale image

model:
  backbone:
    out_channels: 6 # Predicted RGB mean + predicted RGB stddev
  min_std: 0.01 # Minimum stddev to stabilise
  device: ${runtime.device}