defaults:
  - base
  - data: cifar10
  - task: inpaint
  - model: warm_start_fm
  - model_type: generative
  - _self_

model:
  warm_start_model:
    _target_: cdnp.util.instantiate.load_model_from_path
    path: ${paths.weights}/cifar10_cnp
    freeze: true
    device: ${runtime.device}
  generative_model:
    backbone:
      in_channels: 13 # noised RGB image + masked RGB input + mask + CNP mean + CNP stddev
      out_channels: 3 # RGB image
      use_warmth_embedding: true

  min_warmth: 0.0
  max_warmth: 1.0


data:
  trainloader:
    batch_size: 128
  preprocess_fn:
    min_frac: 0.1
    max_frac: 0.1