defaults:
  - base
  - data: cifar10
  - task: colourisation
  - model: flow_matching
  - model_type: generative
  - _self_

model:
  backbone:
    in_channels: 4 # noised RGB image + grayscale image
    out_channels: 3 # RGB image

data:
  trainloader:
    batch_size: 128